{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Ajouter une leçon</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Ajouter une Nouvelle Leçon</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn">Enregistrer</button>
        </form>
        <a href="{% url 'lessons_list' %}" class="back-link">Retour à la Liste des Leçons</a>
    </div>
</body>
</html>
