{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Leçons disponibles</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Liste des Leçons{% if subject %} de {{ subject }}{% endif %}</h1>
        <ul class="list">
            {% for lesson in lessons %}
                <li><a href="{% url 'lesson_detail' lesson.id %}">{{ lesson.title }}</a></li>
            {% endfor %}
        </ul>
        <div class="link-card">
            <a href="{% url 'subjects_list' %}">Retour au Choix de Matière</a>
            <a href="{% url 'home' %}">Retour à la Page d'Accueil</a>
        </div>
    </div>
</body>
</html>
