{% load static%}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenue sur S'cool (Backend)</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

</head>
<body>
    <div class="container">
        {% include "partials/messages.html" %}
        <h1>Bienvenue sur S'cool (Backend)</h1>
        <div class="link-card">
            <a href="{% url 'quizz_list' %}">Accéder aux Quizz</a>
            <a href="{% url 'subjects_list' %}">Accéder aux Leçons</a>
            <a href="/admin/">Accéder à la page Admin</a> 
            <a href="{% url 'signup' %}">Inscription test</a> 
            {% comment %} <a href="{% url 'login' %}">Login test</a>  {% endcomment %}
            {% comment %} <a href="{% url 'Login' %}">Login/SignUp test</a>  {% endcomment %}
        </div>
    </div>
</body>
</html>
